extends ./admin/base
include ./mixins/_flash-messages

block content
  .span9
    .container
      .admin-top
        h3#category-subheading.header Add New Product Category
        +flashMessages()   
        form#addCategoryForm.well.well-sm(method='post' action='/admin/products/add' enctype="multipart/form-data")
          .row
            .col-md-6
              .form-group
                label(for='name') Name
                select.form-control(name='name', required='')
                  option(selected='')
                  option(value='Polish Paper Scrolls') Polish Paper Scrolls
                  option(value='Velvet Scrolls') Velvet Scrolls 
                  option(value='Luxury Scrolls') Luxury Scrolls
              .form-group
                label(for='Code') Card Code
                input#price.form-control(type='text', name='code', required='')
              .form-group
                label.capitalize Category
                select.form-control(name='category')
                  option(value='')
                    each category in categories
                      option(value=category.id)= category.name
              .form-group
                label(for='Material') Material
                select.form-control(name='material', required='')
                  option(selected='')
                  option(value='Paper') Paper
                  option(value='Fabric') Fabric
              .form-group
                label(for='Material Description') Material Description
                textarea#description.form-control(type='text', name='materialDescription', required='', rows='5')
              .form-group
                label(for='Size') Size
                select.form-control(name='size', required='')
                  option(selected='')
                  option(value='Small') Small
                  option(value='Medium') Medium
                  option(value='Big') Big
              .form-group
                label(for='Price') Price
                input#price.form-control(type='text', name='price', required='')
              .form-group
                label(for='Color') Color
                input#price.form-control(type='text', name='color', required='')              
              .form-group
                label(for='Stock') In Stock
                select.form-control(name='inStock', required='')
                  option(selected='')
                  option(value='In Stock') In Stock
                  option(value='Out of Stock') Out of Stock
              .form-group
                label(for='Description') Description
                textarea#description.form-control(type='text', name='description', required='', rows='5')
            .col-md-6
              .form-group
                p
                  strong The file size must not be more than
                  span.txt-bold  500KB
                  br
                  strong File format must be any of these: 
                  span.txt-bold 
                    strong .jpg, .jpeg, .png
                .custom-file.mb-3
                  input#file(type='file' class='custom-file-input' name='myFile' onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" width='600px', height='500px' require='')
                  label.custom-file-label(for='file') Choose file
                  img#blah.mt-5(alt='', width='500px', height='500px' src='404image')
          button.btn.btn-success.btn-block.mt-3.mb-5(type='submit', value='Submit') Add product  