extends ./admin/base
include ./mixins/_flash-messages

block content
  .col-sm-12
    br
    h2 Dashboard
    .row
      .col-md-6.bottom-pad-30
        .card
          .card-body.text-center
            h5.card-title Orders placed
            h6.card-subtitle.mb-2.text-muted Total number of orders placed
            h4.card-text.text-danger
              | #{orders}
      .col-md-6.bottom-pad-30
        .card
          .card-body.text-center
            h5.card-title Products for sale
            h6.card-subtitle.mb-2.text-muted Number of products for sale
            h4.card-text.text-danger
              | #{products}
      .col-md-6.bottom-pad-30
        .card
          .card-body.text-center
            h5.card-title Total products sold
            h6.card-subtitle.mb-2.text-muted Number of products sold
            h4.card-text.text-danger
              | 0
      .col-md-6.bottom-pad-30
        .card
          .card-body.text-center
            h5.card-title Users
            h6.card-subtitle.mb-2.text-muted Total number of registered users
            h4.card-text.text-danger
              | #{stats}
