extends layout

block content
  //
    -------------------------
    -----------------------------
    ------Block 2 starts here----
    -----------------------------
    --------------------------
  section
    #carouselExampleIndicators.carousel.slide1(data-ride='carousel', data-interval='false')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
        li(data-target='#carouselExampleIndicators', data-slide-to='1')
        li(data-target='#carouselExampleIndicators', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='./img/banner-02.jpg', alt='First slide', style='width:100%')
        .carousel-item
          img.d-block.w-100(src='./img/maxresdefault.jpg', alt='Second slide', style='width:100%')
        .carousel-item
          img.d-block.w-100(src='./img/images (13).jpg', alt='Third slide', style='width:100%')
      a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  //
    -------------------------
    -----------------------------
    ------Block 3 starts here----
    -----------------------------
    --------------------------
  section.dream
    .container-fluid
      .row
        .col-md-6
          img(src='./img/welcome-1-1.png', alt='img', style='width: 100%;')
        .col-md-6.drm-active
          h3
            | welcome to The ScrollCard Store
          h2 Dream it. Print it.
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, consectetur laboriosam et
            | perferendis, provident magni at magnam rem corrupti maiores amet iusto error blanditiis illo a.
            | Temporibus sunt distinctio accusamus!
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptates incidunt ipsam sint
            | ratione aliquam nesciunt veniam. Facere necessitatibus sit, debitis, aliquid vitae dignissimos
            | consequatur culpa aliquam ab laudantium omnis accusantium? Neque, voluptates rerum! Hic
            | repellendus at alias obcaecati officia!
          .learn
            a(href='#') Learn More
  //
    -------------------------
    -----------------------------
    ------Block 4 start here-----
    -----------------------------
    --------------------------
  section.blk-4
    .container-fluid
      div
        h2.header
          | Products Category
      .row
        // first slide
        .col-md-4.display-slot
          #carouselExampleIndicators1.carousel.slide1(data-ride='carousel', data-interval='false')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators1', data-slide-to='0')
              li(data-target='#carouselExampleIndicators1', data-slide-to='1')
              li(data-target='#carouselExampleIndicators1', data-slide-to='2')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='./img/PC58.jpg', alt='First slide', style='width:80%')
              .carousel-item
                img.d-block.w-100(src='./img/PC112.jpg', alt='Second slide', style='width:80%')
              .carousel-item
                img.d-block.w-100(src='./img/PC113.jpg', alt='Third slide', style='width:80%')
            a.carousel-control-prev(href='#carouselExampleIndicators1', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators1', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
          .display-text
            h2
              | Polish Paper Scroll
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, aliquam.
            .text-content
              h6  For as low as 
              span #45,000 (1 Set)
              br 
              button.btn.btn-order
                a(href='/banners') Order Now
        // second slide
        .col-md-4.display-slot
          #carouselExampleIndicators2.carousel.slide1(data-ride='carousel', data-interval='false')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators2', data-slide-to='0')
              li(data-target='#carouselExampleIndicators2', data-slide-to='1')
              li(data-target='#carouselExampleIndicators2', data-slide-to='2')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='./img/PC59.jpg', alt='First slide', style='width:10%')
              .carousel-item
                img.d-block.w-100(src='./img/PC118.jpg', alt='Second slide', style='width:70%')
              .carousel-item
                img.d-block.w-100(src='./img/PC116.jpg', alt='Third slide', style='width:100%')
            a.carousel-control-prev(href='#carouselExampleIndicators2', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators2', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
          .display-text
            h2
              | Luxuxry Scroll
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, aliquam.
            .text-content
              h6  For as low as 
              span #45,000 (1 Set)
              br 
              button.btn.btn-order
                a(href='/banners') Order Now
        // third slide
        .col-md-4.display-slot
          #carouselExampleIndicators3.carousel.slide1(data-ride='carousel', data-interval='false')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators3', data-slide-to='0')
              li(data-target='#carouselExampleIndicators3', data-slide-to='1')
              li(data-target='#carouselExampleIndicators3', data-slide-to='2')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='./img/PC113.jpg', alt='First slide', style='width:30%')
              .carousel-item
                img.d-block.w-100(src='./img/PC112.jpg', alt='Second slide', style='width:30%')
              .carousel-item
                img.d-block.w-100(src='./img/PC59.jpg', alt='Third slide', style='width:30%')
            a.carousel-control-prev(href='#carouselExampleIndicators3', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators3', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
          .display-text
            h2
              | Velvet Scroll Card
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, aliquam.
            .text-content
              h6  For as low as 
              span #45,000 (1 Set)
              br 
              button.btn.btn-order
                a(href='/banners') Order Now
  //
    -------------------------
    -----------------------------
    -----Block 5 starts here-----
    -----------------------------
    --------------------------
  section.blk-5
    .container
      .row.blk-img
        .col-md-4
          center
            img.blk-img(src='./img/download (4).png', alt='')
          h2
            | Business Focus
          p
            | With PHD prints+designs process, you gain efficiency, dazzling designs, timeless quality and
            | first-rate
            | delivery.
        .col-md-4
          center
            img.blk-img(src='./img/delivery.png', alt='icon')
          h2
            | Fast &amp; reliable delivery on time
          p
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit maiores quae facilis esse!
        .col-md-4
          center
            img.blk-img(src="./img/graphic.png", alt="")
          h2
            | Clean Design &amp; Prints
          p
            | We perfectly blend our colour palettes with nature, creating stunning visuals that is sure to
            | drive attention to your
            | brand
  //
    -------------------------
    -----------------------------
    ------Block 7 start here------
    -----------------------------
    --------------------------
  section#carousel.blk-7
    .container
      .col-xs-12.mb20
        .page-header
          h2 Client Testimonials
      .row
        .col-md-12
          #carouselContent1.carousel.slide(data-ride='carousel')
            center
              i.fa.fa-quote-left
            .carousel-inner(role='listbox')
              .carousel-item.active.text-center.p-4
                blockquote
                  p
                    | I am very pleased with the quality and professionalism of your company.Our
                    | printing has always been completed on schedule. Great business!&quot;
                  p.italic -Oluyemisi O.
                .profile-circle(style='background-color: rgba(145,169,216,.2);')
              .carousel-item.text-center.p-4
                blockquote
                  p
                    | I just received my order outstanding! The quality of printing and paper
                    | exceeded my expectations - beautiful work that will showcase our company
                    | exactly as I had hoped.
                  p.bold -Babatunde Olaise.
                  .profile-circle(style='background-color: rgba(145,169,216,.2);')
              .carousel-item.text-center.p-4
                blockquote
                  p
                    | Profound house of designs has been my number one printer since I opened my
                    | restaurant
                    | five years ago. They print my menus, order forms, business cards, postcards
                    | and have done several specialty projects, such as &apos;hand fans&apos; for the
                    | restaurant. I never have to leave my business as my orders are picked up and
                    | delivered directly by their sales staff, which saves me time &amp; worry.
                  p.bold -Mohammed Bello
              .carousel-item.text-center.p-4
                blockquote
                  p
                    | It was an absolute pleasure to work with your team I have never encountered
                    | such a high level of enthusiasm, politeness and customer care as I received
                    | from this group of exemplary employees.
                  p.bold -Chinonso A.
            a.carousel-control-prev(href='#carouselContent1', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselContent1', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next