extends layout
include ./mixins/_flash-messages


block content
    section
    .container
      .row
        .col-md-3
        .col-md-6
            form.log-blk(method='POST', action='/login')
                h2.text
                    | Login
                +flashMessages()
                .form-group
                    label(for='exampleInputEmail1') Email address
                    input#exampleInputEmail1.form-control(type='email', name='email' aria-describedby='emailHelp', placeholder='Enter email', required="" )
                .form-group
                    label(for='exampleInputPassword1') Password
                    input#exampleInputPassword1.form-control(type='password', name='password' placeholder='Password', required="")
                button.btn.btn-primary.btn-block(type='submit' name='submit' value='Submit') SIGN IN
                br
                br
                center
                    a.log-ml.ml-r(href='#') Forgotten Password
            center.log-top
                small New to theScrollCard, and dont have an account? 
                a(href='/register') 
                    small Sign Up
        .col-md-3

