extends layout
include ./mixins/_flash-messages

block content
    .container-fluid
        +flashMessages()
        br
        .col-sm-12
            h2 Orders
        br                    
        .col-sm-12.top-pad-10
            ul.list-group
                li.list-group-item
                    strong Recent orders
                if (orders.length > 0)
                    each order in orders
                        li.list-group-item
                            .float-right.top-pad-5
                                h6 Status: #{order.orderStatus}
                            .top-pad-5
                                a.text-success(href='/users/order/view/'+order._id) 
                                    b  View order 
                                span.text-info  
                                    b Order id: #{order.orderPaymentId} | 
                                span.text-info
                                    b Date Ordered: #{order.orderDate} | 
                                span.text-info  
                                    b Total: #{order.orderProducts.totalPrice}        
                else
                    .card-content
                        center.p-5
                            h2
                                | Order empty
            br