extends layout

block content
    .container-fluid
        .row
            if (products.length > 0)
                each product, i in products
                    .column
                        .card-1
                            #lb-back.pt-3
                                span.close &times;
                                #lb-img
                            img.zoomD(src=''+product.imageUrl, alt=`${product.code}` class="product-img")
                            .card-text
                                ul
                                    li
                                        span.float-left Code: 
                                            strong #{product.code} 
                                    li
                                        span.float-right 
                                            strong NGN #{product.price}
                            center
                                .row.column-apart
                                    .col-md-6
                                        span
                                            a.btn.btn-primary.btn-block(type='submit', role='button' href='/product/'+product._id) View Detail
                                    br
                                    .col-md-6
                                        span
                                            a.btn.btn-primary.btn-block(href=''+product.imageUrl, data-fancybox='') Zoom
            else
                .card-content
                   center
                        h2
                            | No Products

