extends layout

block content
    .container-fluid
        .row
<<<<<<< HEAD
            each product, i in products
                .column
                    .card-1
                        img(src=''+product.imageUrl, alt='' class="product-img")
                        .card-text
                            .row
                                .col-md-6
                                    span.float-left Code: 
                                        strong #{product.code} 
                                .col-md-6
                                    span.float-right 
                                        strong NGN #{product.price}
                        center
                            .row
                                .col-md-6
                                    span
                                        a.btn.btn-primary(type='submit', role='button' href='/product/'+product._id) View Detail
                                br
                                .col-md-6
                                    span
                                        a.btn.btn-primary.btn-zoom(type='submit', role='button' href="") Zoom
=======
            .column
                .card
                    img(src='/img/PC58.jpg', alt='')
                    .card-detail
                        span.float-left Code: 
                            strong PC 58 
                        span.float-right 
                            strong NGN 20,000
                    br
                    a.btn.btn-primary(href="") View Detail
                    br
                    a.btn.btn-primary(href="") zoom
            .column
                .card
                    img(src='/img/PC58.jpg', alt='')
                    .card-detail
                        span.float-left Code: 
                            strong PC 58 
                        span.float-right 
                            strong NGN 20,000
                    br
                    a.btn.btn-primary(href="") View Detail
                    br
                    a.btn.btn-primary(href="") zoom
            .column
                .card
                    img(src='/img/PC58.jpg', alt='')
                    .card-detail
                        span.float-left Code: 
                            strong PC 58 
                        span.float-right 
                            strong NGN 20,000
                    br
                    a.btn.btn-primary(type='submit', role='button' href='/addtocart/') View Detail
                    br
                    a.btn.btn-primary(href="") zoom
            .column
                .card
                    img(src='/img/PC58.jpg', alt='')
                    .card-detail
                        span.float-left Code: 
                            strong PC 58 
                        span.float-right 
                            strong NGN 20,000
                    br
                    a.btn.btn-primary(href="") View Detail
                    br
                    a.btn.btn-primary(href="") zoom    
        
>>>>>>> a6c10eefaf9a611aa6d54fefb1ad455b143d4e14
