extends layout

block content
    .container-fluid
        .row
            .column
                .card
                    img(src='/img/PC58.jpg', alt='')
                    .card-detail
                        span.float-left Code: 
                            strong PC 58 
                        span.float-right 
                            strong NGN 20,000
                    br
                    a.btn.btn-primary(href="") View Detail
                    br
                    a.btn.btn-primary(href="") zoom
            .column
                .card
                    img(src='/img/PC58.jpg', alt='')
                    .card-detail
                        span.float-left Code: 
                            strong PC 58 
                        span.float-right 
                            strong NGN 20,000
                    br
                    a.btn.btn-primary(href="") View Detail
                    br
                    a.btn.btn-primary(href="") zoom
            .column
                .card
                    img(src='/img/PC58.jpg', alt='')
                    .card-detail
                        span.float-left Code: 
                            strong PC 58 
                        span.float-right 
                            strong NGN 20,000
                    br
                    a.btn.btn-primary(type='submit', role='button' href='/addtocart/') View Detail
                    br
                    a.btn.btn-primary(href="") zoom
            .column
                .card
                    img(src='/img/PC58.jpg', alt='')
                    .card-detail
                        span.float-left Code: 
                            strong PC 58 
                        span.float-right 
                            strong NGN 20,000
                    br
                    a.btn.btn-primary(href="") View Detail
                    br
                    a.btn.btn-primary(href="") zoom    
        